---
layout: default
---
<main class="container mx-auto px-4 py-8 flex-grow">
    <div class="card-custom p-8 rounded-lg">
        <a href="{{ site.baseurl }}/" class="mb-4 inline-block">&larr; Tilbage til oversigten</a>
        {% if page.image %}
        <div class="mb-8">
            <img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}" class="w-full h-auto rounded-lg shadow-lg">
        </div>
        {% endif %}
        <article class="prose max-w-none mt-4">
            {{ content }}
        </article>
    </div>
</main> 